.BOP-div {
  width: 400px;
  min-height: 100px !important;
  max-height: auto !important;
  background: rgba(255, 255, 255, 0.5);
  align-items: center !important;
  border-radius: 12px;
  padding: 15px !important;
}

.TwoFaVerification-container {
  min-height: 59.5vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px !important;
}

.TwoFaOTPInput {
  border-radius: 4px !important;
  font-weight: 600 !important;
  margin: 0;
  padding: 0;
}

.TwoFaVerification-Heading {
  font-size: 24px !important;
  color: #000000;
  font-weight: 700 !important;
}

.TwoFaVerification-SubHeadings {
  color: #45494d !important;
  font-size: 14px;
  font-weight: 400 !important;
}

.column-twoFa-subHeading {
  display: flex;
  justify-content: flex-start;
}

.Next-btn-TwoFaVerification {
  width: 100% !important;
  height: 39px !important;
  border-radius: 4px !important;
  padding: 0px 12px;
  font-size: 14px;
  font-weight: 500;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border: none !important;
}

.Next-btn-TwoFaVerification:is(:hover, ) {
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
}

.goback-twofaverification {
  margin-top: 7px;
  text-decoration: underline;
  font-size: 14px;
  color: #000000 !important;
  cursor: pointer;
}

.goback-twofaverification:hover {
  color: #0d6efd;
}
