.formcontrol2 {
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 14px !important;
  height: 39px !important;
}

.formcontrol2:focus {
  box-shadow: none !important;
}
.formcontrol2::placeholder {
  font-size: 14px !important;
}
.MainClass {
  display: block;
  width: 100% !important;
}
.BranchNameTradeAccessManagement_inputSearchBar {
  position: relative;
}
