.bank-user-label {
  color: #4d4946 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  margin-top: 20px !important;
  font-family: "Roboto", sans-serif !important;
}

.bankuser-paper {
  border-radius: 4px;
  padding: 11px 20px !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
  min-height: 50vh;
}

.active-cancel-btn-col {
  display: flex;
  justify-content: center !important;
  gap: 5px !important;
  margin-bottom: 10px;
}

.Container_bank_user {
  width: 97% !important;
  margin: 0 auto !important;
}
.AddBankLabel {
  min-width: 130px !important;
}

.Active-btn {
  font-size: 14px;
  margin-left: 10px;
  border-radius: 4px !important;
  padding: 8px 18px !important;
  border: none;
  display: flex !important;
  align-items: center !important;
  gap: 4px !important;
  font-family: "Poppins", sans-serif;
  background: #0d6efd !important;
}

.Active-btn:hover {
  border: none;
  display: flex !important;
  align-items: center !important;
  font-family: "Poppins", sans-serif;
  gap: 4px !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
}
.Active-btn:disabled {
  border: none;
  display: flex !important;
  align-items: center !important;
  font-family: "Poppins", sans-serif;
  gap: 4px !important;
  background: var(--disabled-button) !important;
}

.upload-btn {
  font-size: 14px;
  width: 200px !important;
  height: 39px !important;
  font-weight: 600;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #6873a9 !important;
  border-color: #6873a9 !important;
}

.Cancel-btn-AddBankUser {
  font-size: 14px;
  border-radius: 4px !important;
  padding: 8px 18px !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  gap: 4px !important;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
}

.Cancel-btn-AddBankUser:hover {
  border: none !important;
  display: flex !important;
  align-items: center !important;
  gap: 4px !important;
  font-family: "Poppins", sans-serif;
  border-color: #6873a9 !important;
}

.icon-check-space {
  margin-right: 5px !important;
  font-size: 20px;
  align-items: center !important;
}

.labels-add-bank {
  font-size: 12px !important;
  color: #004990 !important;
  font-weight: 500;
  min-width: 130px;
}

.aesterick-color {
  color: #cf5b5b !important;
}

.select-clickable-icon {
  height: 38px !important;
  max-height: 38px;
  width: 40px;
  font-size: 20px !important;
  background-color: #e9ecef !important;
  border: 1px solid #ced4da !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.span-select {
  display: flex !important;
  align-items: center !important;
}

.bankErrorMessage {
  height: 0px;
  margin-top: 0px !important;
  font-size: 12px !important;
  font-weight: 500;
  color: #f16b6b;
  visibility: visible !important;
}

.bankErrorMessage_hidden {
  visibility: hidden;
  margin: 0;
  height: 16px;
  color: #f16b6b !important;
}

.PlusButton {
  width: 40px;
  position: absolute !important;
  top: 0px;
  right: 0px !important;
  height: 100% !important;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important ;
  align-items: center;
}

.PlusButton:is(:hover, :focus, :focus-visible, :active) {
  width: 40px;
  position: absolute !important;
  right: 0px !important;
  height: 100% !important;
  /* align-items: center !important; */
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important ;
}

.PlusIcon {
  color: #000 !important;
  font-size: 30px !important;
  margin-top: -12px !important;
  display: flex;
  justify-content: center;
  align-items: center !important;
  padding-top: 2px !important;
}

.EditButton {
  width: 40px;
  position: absolute !important;
  top: 0px;
  right: 40px !important;
  height: 100% !important;
  align-items: center !important;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0px !important;
}

.EditButton:is(:hover, :focus, :focus-visible, :active) {
  width: 40px;
  position: absolute !important;
  right: 40px !important;
  height: 100% !important;
  align-items: center !important;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0px !important;
}
.EditButton i {
  color: var(--color-secondary);
}
.branchName-field {
  z-index: 99px !important;
}
.disableText {
  color: var(--disabled-font);
  background: var(--disabled-field) !important;
  width: 100% !important;
  flex: 1 !important;
}

@media (max-width: 1024px) {
  .EditButton,
  .PlusButton {
    width: 35px;
    right: 40% !important;
  }
}

@media (max-width: 768px) {
  .EditButton,
  .PlusButton {
    width: 30px;
    right: 35% !important;
  }
}

.InputFieldClass {
  width: 100% !important;
  flex: 1 !important;
}
