.HeadingModal {
  font-size: 1.25rem;
  color: #f26522;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
}

.Description {
  text-align: center !important;
  font-size: 1rem !important;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
}

.OkayButttonDeleteCategoryModal {
  background: #096fed !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.OkayButttonDeleteCategoryModal:hover {
  background: #feac78 !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}
