.modal-setting-styles .modal-content {
  height: 500px !important;
  /* width: 650px !important; */
  width: 100%;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 8px !important;
  margin: 0px 70px;
  display: flex !important;
  justify-content: center !important;
  border: 1px solid #e0e1e2 !important;
  padding: 20px 10px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
}

.header-setting-Modal-close-btn {
  font-size: 11px;
  border: none !important;
  position: absolute;
  right: 0px;
  top: 30px;
  font-size: 9px;
  z-index: 2 !important;
}

.modal-footer-setting {
  width: 100% !important;
  display: contents !important;
  justify-content: center !important;
}

.footer-btn-col {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.setting-button-modal {
  font-size: 13px !important;
  font-weight: 600 !important;
  border-radius: 3px !important;
  padding: 6px 10px;
  border: none !important;
  background: #096fed !important;
}

.setting-button-disabled {
  font-size: 13px !important;
  font-weight: 600 !important;
  border-radius: 3px !important;
  padding: 6px 10px;
  border: none !important;
  background: #b6b9bf !important;
}

.discard-btn-editModal {
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px !important;
  padding: 8px 18px;
  border: none;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
}

.discard-btn-editModal:hover {
  background: #096fed;
}

.icon-right {
  margin-right: 5px;
  font-size: 14px;
}

.checkbox-border {
  border-bottom: 1px solid #e1e1e1;
  margin: 17px;
  padding: 5px 0px;
}

.border-line-passcode {
  padding: 0px 3px;
  margin-top: 50px;
  border-bottom: 1px solid #e1e1e1 !important;
}

.change-password-label {
  font-size: 12px !important;
  color: #45494d;
  font-weight: 600 !important;
  align-items: center !important;
}

.two-factor-text {
  font-size: 13px !important;
  color: #45494d;
  font-weight: 500 !important;
  align-items: center !important;
}

.change-password-text {
  font-size: 16px;
  color: #f26522;
  font-weight: 700;
}
.error-message {
  color: red;
  margin: 0;
  font-size: 14px;
}

.success-message {
  color: green;
  margin: 0;
  font-size: 14px;
}
