.verifying {
  text-align: center;
  margin-top: 2rem;
  font-size: 15px;
  font-weight: 600;
  color: #002650;
}

.wrapper_verifyEmail {
  height: 100vh !important;
  overflow: hidden !important;
  background: url(../../assets/images/login-bg.png) no-repeat !important;
  background-size: cover !important;
  background-position: fixed !important;
  padding: 15px 0px !important;
}