.customer-List-paper {
  border-radius: 4px;
  width: 100% !important;
  overflow: hidden !important;
  padding: 16px 13px !important;
  background-color: #ffffff !important;
}

.TradeAccessmangementStyles {
  width: 99% !important;
  margin: 0 auto !important;
}

.custom-radio-group span {
  font-family: "Roboto", sans-serif !important;
}

.spanshowClass {
  font-family: "Roboto", sans-serif !important;
}
