.EditCorporate_modal-title {
  color: #f26522 !important;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}
.EditCorporate_modal-crossIcon {
  display: flex;
  justify-content: flex-end;
}

.labels-add-bank {
  font-size: 12px !important;
  color: #004990 !important;
  font-weight: 500;
}
.switch-Label {
  font-size: 12px !important;
  color: #004990 !important;
  font-weight: 500;
  padding-top: 10px !important;
}

.CheckboxActive {
  display: flex !important;
  gap: 10px !important;
  margin-left: -10px !important;
}
.switchLabel {
  font-size: 12px !important;
  color: #004990 !important;
  font-weight: 500;
  padding-top: 3px;
  padding-right: 20px;
}

.aesterick-color {
  color: #cf5b5b !important;
}

.ActiveStatus {
  font-size: 12px !important;
  color: #00ee28 !important;
  font-weight: 500;
}

.InactiveStatus {
  font-size: 12px !important;
  color: #cf5b5b !important;
  font-weight: 500;
}

.EditCorpUserBtn {
  background: #096fed !important;
  display: flex !important;
  gap: 5px !important;
  border-radius: 4px;
  border: none !important;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-items: center !important;
}
.EditCorpUserBtn:disabled {
  background: var(--disabled-button) !important;
  display: flex !important;
  gap: 5px !important;
  border-radius: 4px;
  border: none !important;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-items: center !important;
}

.EditCorpUserBtn:is(:hover, :focus, :active, :focus-visible) {
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  display: flex !important;
  gap: 5px !important;
  border-radius: 4px;
  border: none !important;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-items: center !important;
}

.IconClass {
  display: flex !important;
  align-items: center !important;
}

.CancelButton {
  display: flex !important;
  gap: 10px !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border-radius: 4px;
  border: none !important;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-items: center !important;
}

.CancelButton:is(:hover, :focus, :active, :focus-visible) {
  display: flex !important;
  gap: 10px !important;
  background: #096fed !important;
  border-radius: 4px;
  border: none !important;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-items: center !important;
}
.bankErrorMessage {
  height: 0px;
  margin-top: 0px !important;
  font-size: 12px !important;
  font-weight: 500;
  color: #f16b6b;
  visibility: visible !important;
}

.bankErrorMessage_hidden {
  visibility: hidden;
  margin: 0;
  height: 16px;
  color: #f16b6b !important;
}
.disableText {
  color: var(--disabled-font);
  background: var(--disabled-field) !important;
}
