.CategoryManagementLabel {
  font-size: 24px;
  color: #4d4946 !important;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
}

.SpreadManagementOverAllStyles {
  width: 95% !important;
  margin: 0 auto !important;
}

.SpreadManagmentPaper {
  border-radius: 4px;
  width: 100% !important;
  overflow: hidden !important;
  padding: 16px 13px !important;
  background-color: #ffffff !important;
}

.ParitySpotHeading {
  font-weight: 700 !important;
  font-size: 1rem !important;
  color: #4d4946 !important;
}

.Reset-btn-spreadManagement {
  border-radius: 4px;
  font-size: 14px;
  background: #dc3545 !important;
  font-weight: 500;
  border: none !important;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  display: flex !important;
  gap: 6px !important;
  align-items: center !important;
}

.Reset-btn-spreadManagement:is(:hover, :active, :focus, :focus-visible) {
  border-radius: 4px !important;
  font-size: 14px !important;
  background: #dc3545 !important;
  font-weight: 500 !important;
  border: none !important;
  cursor: pointer !important;
  font-family: "Poppins", sans-serif !important;
  display: flex !important;
  gap: 6px !important;
  align-items: center !important;
}

.Search-btn-spreadManagement {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  border: none !important;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  display: flex !important;
  gap: 6px !important;
  align-items: center !important;
}

.Search-btn-spreadManagement:is(:hover, :focus, :active, :focus-visible) {
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border: none !important;
  font-family: "Poppins", sans-serif !important;
  background: #096fed !important;
  cursor: pointer !important;
  display: flex !important;
  gap: 6px !important;
  align-items: center !important;
}

.ForwardLabel {
  font-weight: 700 !important;
  font-size: 1rem !important;
  color: #4d4946 !important;
}

.InputTableSpreadManagement {
  width: 67px !important;
}
