.wrapper {
  height: 100vh !important;
  overflow: hidden !important;
  background: url(../../../../assets/images/login-bg.png) no-repeat !important;
  background-size: cover !important;
  background-position: fixed !important;
  padding: 15px 0px !important;
  background-size: 300px;
}
.wrapper_box {
  background: rgba(255, 255, 255, 0.5);
  width: 400px;
  min-height: 100px;
  max-height: auto;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.changePasswordBtn {
  border-radius: 4px !important;
  font-size: 14px !important;
  max-width: 160px;
  margin: 0 auto;
  font-weight: 500 !important;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%);
  border-color: #e97225 !important;
  padding: 0.5rem 1.5rem !important;
  height: auto !important;
  font-weight: 700;
  font-family: "POPPINS";
}
.changePasswordBtn:hover {
  background: linear-gradient(to bottom, #096fed 0%, #096fed 100%) !important;
  border-color: #096fed !important;
}
.changePasswordBtn:disabled {
  border-radius: 4px !important;
  font-size: 14px !important;
  max-width: 160px;
  margin: 0 auto;
  font-weight: 500 !important;
  padding: 0.5rem 1.5rem !important;
  height: auto !important;
  font-weight: 700;
  font-family: "POPPINS";
  color: #fff !important;
  pointer-events: none;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%);
  border-color: #6c757d;
  opacity: 0.65;
}