.background-color {
  background-color: #f4f4f4 !important;
}

body {
  background-color: #f4f4f4 !important;
  font-family: "Montserrat", sans-serif !important;
  overflow: hidden !important;
}

.Scroller-x-resolution {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth !important;
  align-items: center;
}

.Scroller-x-resolution::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.5em;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller-x-resolution::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.ant-collapse-header {
  background: #ecf6ff !important;
}

span.CompanyName__indicator-separator.css-1u9des2-indicatorSeparator {
  display: none !important;
}

.CompanyName__indicator.CompanyName__dropdown-indicator.css-1xc3v61-indicatorContainer {
  margin-right: 75px !important;
}

.CompanyNameBankUser__indicator.CompanyNameBankUser__dropdown-indicator.css-1xc3v61-indicatorContainer {
  margin-right: 75px !important;
}

span.CompanyNameBankUser__indicator-separator.css-1u9des2-indicatorSeparator {
  display: none !important;
}

.CompanyName__control--is-focused {
  border-color: hsl(0, 0%, 80%) !important;
}

.TradeCountSelect__placeholder {
  font-size: 11px !important;
}

/* Bank Table One Commmon Class (Universal Used CSS Over All used in the Project For table) */
.BankUserList-table {
  max-height: 45vh !important;
  max-width: 76vw;
  width: 100%;
  box-sizing: border-box !important;
  overflow-x: auto !important;
  border-radius: 0px !important;
}

.BankUserList-table th.ant-table-cell {
  color: #ffffff !important;
  border-radius: 0% !important;
  position: sticky !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  top: 0 !important;
  z-index: 10;
  background: #f26522 !important;
}

.BankUserList-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.BankUserList-table::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.BankUserList-table .ant-table-thead > tr > th {
  height: 40px;
  line-height: 30px;
  padding: 0;
}

/* Table Responsiveness Handler */
@media (max-width: 1300px) {
  .BankUserList-table {
    max-height: 45vh !important;
    max-width: 75vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (max-width: 1100px) {
  .BankUserList-table {
    max-height: 45vh !important;
    max-width: 72vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (max-width: 1000px) {
  .BankUserList-table {
    max-height: 45vh !important;
    max-width: 67vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1500px) {
  .BankUserList-table {
    max-height: 45vh !important;
    max-width: 80vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1600px) {
  .BankUserList-table {
    max-height: 45vh !important;
    max-width: 82vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1800px) {
  .BankUserList-table {
    max-height: 45vh !important;
    max-width: 100vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

/* Trade Access Management Table One Commmon Class (Universal Used CSS Over All used in the Project For table) */
.TradeAccessManagement {
  max-height: 45vh !important;
  max-width: 76vw;
  width: 100%;
  box-sizing: border-box !important;
  overflow-x: auto !important;
  border-radius: 0px !important;
}

.TradeAccessManagement th.ant-table-cell {
  color: #ffffff !important;
  border-radius: 0% !important;
  position: sticky !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  top: 0 !important;
  z-index: 10;
  background: #f3b273 !important;
  padding: 0px 10px !important;
}

.TradeAccessManagement::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.TradeAccessManagement::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.TradeAccessManagement .ant-table-thead > tr > th {
  height: 40px;
  line-height: 30px;
  padding: 0;
}

/* Table Responsiveness Handler */
@media (max-width: 1300px) {
  .TradeAccessManagement {
    max-height: 45vh !important;
    max-width: 75vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (max-width: 1100px) {
  .TradeAccessManagement {
    max-height: 45vh !important;
    max-width: 72vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (max-width: 1000px) {
  .TradeAccessManagement {
    max-height: 45vh !important;
    max-width: 67vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1500px) {
  .TradeAccessManagement {
    max-height: 45vh !important;
    max-width: 80vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1600px) {
  .TradeAccessManagement {
    max-height: 45vh !important;
    max-width: 82vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1800px) {
  .TradeAccessManagement {
    max-height: 45vh !important;
    max-width: 100vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

/* Seperate Bank User Table of Gray Header CSS */
.GrayHeader-table {
  max-height: 45vh !important;
  max-width: 76vw;
  width: 100%;
  box-sizing: border-box !important;
  overflow-x: auto !important;
  border-radius: 0px !important;
}

.GrayHeader-table th.ant-table-cell {
  color: #ffffff !important;
  border-radius: 0% !important;
  position: sticky !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  top: 0 !important;
  z-index: 10;
  background: #575351 !important;
}

.GrayHeader-table ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.GrayHeader-table ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.GrayHeader-table .ant-table-thead > tr > th {
  height: 40px;
  line-height: 30px;
  padding: 0;
}

/* Table Responsiveness Handler */
@media (max-width: 1300px) {
  .GrayHeader-table {
    max-height: 45vh !important;
    max-width: 75vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (max-width: 1100px) {
  .GrayHeader-table {
    max-height: 45vh !important;
    max-width: 72vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (max-width: 1000px) {
  .GrayHeader-table {
    max-height: 45vh !important;
    max-width: 67vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1500px) {
  .GrayHeader-table {
    max-height: 45vh !important;
    max-width: 80vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1600px) {
  .GrayHeader-table {
    max-height: 45vh !important;
    max-width: 82vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

@media (min-width: 1800px) {
  .GrayHeader-table {
    max-height: 45vh !important;
    max-width: 100vw;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    overflow-x: scroll !important;
  }
}

/* Spread Management Table  */
.groupTable-thead tr th {
  background: #575351 !important;
  color: #fff !important;
}

.groupTable.groupTable-bordered
  > .groupTable-container
  > .groupTable-content
  > table
  > thead
  > tr:not(:last-child)
  > th,
:where(.css-dev-only-do-not-override-k7429z).groupTable-wrapper
  .groupTable.groupTable-bordered
  > .groupTable-container
  > .groupTable-header
  > table
  > thead
  > tr:not(:last-child)
  > th,
:where(.css-dev-only-do-not-override-k7429z).groupTable-wrapper
  .groupTable.groupTable-bordered
  > .groupTable-container
  > .groupTable-body
  > table
  > thead
  > tr:not(:last-child)
  > th,
:where(.css-dev-only-do-not-override-k7429z).groupTable-wrapper
  .groupTable.groupTable-bordered
  > .groupTable-container
  > .groupTable-summary
  > table
  > thead
  > tr:not(:last-child)
  > th {
  border-bottom: 1px solid #f0f0f0 !important;
  padding: 8px !important;
}

:where(.css-dev-only-do-not-override-k7429z).groupTable-wrapper
  .groupTable.groupTable-bordered
  > .groupTable-container
  > .groupTable-content
  > table
  > thead
  > tr
  > th {
  padding: 8px !important;
}

.selectCateogyCorporateList__menu.css-1nmdiq5-menu {
  z-index: 20 !important;
}

.selectCateogyCorporateList__placeholder {
  font-family: "Roboto", sans-serif !important;
}

.TradeCountSelect__placeholder {
  font-family: "Roboto", sans-serif !important;
}

/* All TextFileds PlaceHolder Sizes */
input.form-control {
  font-size: 14px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* TradeCount Select Nature Selector */
.TradeCountSelect__placeholder {
  font-size: 12.5px !important;
}

/* Trade Access Management */
.BranchNameTradeAccessManagement {
  width: 280px !important;
}
