/* Sidebar Container */
.sidebar-navbar {
  padding: 0;
  background-color: #4d4946;
  min-height: 100vh;
  width: 250px;
  /* position: fixed; */
  overflow-y: auto;
}
/* .sidebar-navbar .navbar-expand {
  display: block;
} */

.sidebar-container {
  padding: 0;
  height: 100vh;
}

.sidebar-toggle {
  display: none;
  margin: 10px;
}

.sidebar-offcanvas {
  width: 250px;
  background-color: #4d4946;
}

.sidebar-header {
  display: none;
}

.sidebar-body {
  padding: 0;
}

/* Menu Items */
.sidebar-menu-group {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-menu-header {
  color: #fff !important;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #4d4946 !important;
  display: flex;
  justify-content: space-between;
}

.sidebar-menu-header:hover {
  background-color: #4d4946 !important;
  color: #fff !important;
}

.sidebar-icon {
  font-size: 17px;
  margin-right: 10px;
}
.sidebar-icon span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.sidebar-arrow {
  margin-left: auto;
  font-size: 12px;
  transition: transform 0.3s;
}

.sidebar-arrow.open {
  transform: rotate(180deg);
}

.sidebar-submenu {
  background-color: #4d4946;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-item {
  color: #fff !important;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0;
  background-color: #4d4946 !important;
}

.sidebar-menu-item:hover {
  color: #fff !important;
  /* background-color: rgba(255, 255, 255, 0.1) !important; */
}

.sidebar-menu-item_Active {
  color: #fff !important;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0;
  /* background-color: #4d4946 !important; */
  background-color: #096fed !important;
  color: #fff !important;
  margin-right: 5px;
}

/* Scrollbar styling */
.sidebar-navbar::-webkit-scrollbar {
  width: 6px;
}

.sidebar-navbar::-webkit-scrollbar-track {
  background: #3a3735;
}

.sidebar-navbar::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 3px;
}

.sidebar-navbar::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .sidebar-navbar {
    width: 100%;
    height: auto;
    max-height: 100vh;
    position: relative;
  }

  .sidebar-offcanvas {
    width: 250px;
  }

  .sidebar-toggle {
    display: block;
  }

  .sidebar-header {
    display: flex;
  }
}
